<%= form_with(model: type, local: true) do |form| %>

  <form>
    <div class="form-group field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :type_name, class: "form-control" %>
    </div>

    <div class="form-group field">
      <%= form.label :description %>
      <%= form.text_area :description, id: :type_description , class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit :Submit, class: "btn btn-block btn-success" %>
    </div>

  </form>

<% end %>
