<p id="notice"><%= notice %></p>

<p>
  <strong>Days:</strong>
  <%= @working_hour.days %>
</p>

<p>
  <strong>Active:</strong>
  <%= @working_hour.active %>
</p>

<p>
  <strong>Time start:</strong>
  <%= @working_hour.time_start %>
</p>

<p>
  <strong>Time end:</strong>
  <%= @working_hour.time_end %>
</p>

<p>
  <strong>Business:</strong>
  <%= @working_hour.business %>
</p>

<%= link_to 'Edit', edit_working_hour_path(@working_hour) %> |
<%= link_to 'Back', working_hours_path %>
