<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
  <%= active_link_to "Hair Styling", businesses_path, class: "navbar-brand" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= active_link_to "Businesses", businesses_path, class: "nav-item nav-link" %>
      <%= active_link_to "Types", types_path, class: "nav-item nav-link" %>
      <%= active_link_to "Images", images_path, class: "nav-item nav-link" %>
      <%= active_link_to "Image Types", image_types_path, class: "nav-item nav-link" %>
      <%= active_link_to "Services", services_path, class: "nav-item nav-link" %>
      <%= active_link_to "Days", days_path, class: "nav-item nav-link" %>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav>